<div *ngIf="victory" class="center">
  <h2>Victory for {{passivePlayer}}</h2>
</div>
<div class="center">
  <h2>Score: Black: {{blackPlayer.scoreVictory}} | White: {{whitePlayer.scoreVictory}}</h2>
  <h2>Captures: Black: {{blackPlayer.scoreCapture}} | White: {{whitePlayer.scoreCapture}}</h2>
</div>
<div id="outPopUp">
  <mat-grid-list cols="19" rowHeight="1:1">
    <mat-grid-tile
      *ngFor="let row of arrayOne(361); let i = index;"
      [colspan]=1
      [rowspan]=1
      [style.background]="tile[i].color">
      <button (click)="play(i)" mat-button> {{i}}  </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
