html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

/*
#outPopUp {
  position: absolute;
  width: 500px;
  height: 200px;
  z-index: 15;
  top: 35%;
  left: 45%;
  margin: -100px 0 0 -150px;

}
*/

#score {
  font-weight: bold;
  font-size: 4vw;
  height: 50px;
}
#turns {
  font-size: 1.5vw;
  height: 30px;
}
.center {
  text-align: center;
}

.board {
  height: 70%;
}

.padding {
  padding-top: 2%;
  padding-bottom: 2%;
}
