
<div *ngIf="(user$ | async) as user">
  <div *ngIf="(tiles$ | async) as tiles">
    <div *ngIf="(players$ | async) as players">

      <div *ngIf="victory" class="center">
        <h2>Victory</h2>
      </div>

      <ng-template #loading let-user>Waiting...</ng-template>

      <ng-template #waitingMessage let-user>
        <div fxLayout="row" fxLayoutAlign="center center" class="center" style="padding-top:2%">
          <h1>Waiting for an opponent to start</h1>
        </div>
      </ng-template>

      <div *ngIf="players.length > 1; else waitingMessage">
        <div fxLayout="row" fxLayoutAlign="center center" class="center" style="padding-top:2%">
          <h1>Let's play!</h1>
        </div>

      <div *ngIf="game; else loading">
        <div fxLayout="row" fxLayoutAlign="space-around" style="padding-top:4%" fxLayoutGap="10">
          <div fxFlex="20" style="padding-top:5%">
            <mat-card>
            <mat-card-header>
              <mat-card-title>BLACK</mat-card-title>
              <mat-card-subtitle>You</mat-card-subtitle>
              <mat-card-subtitle>Capture: {{players[0].scoreCapture}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
          <div fxFlex="35">
            <mat-grid-list cols="19" rowHeight="1:1">
              <mat-grid-tile
                *ngFor="let tile of tiles; let i = index;"
                [colspan]=1
                [rowspan]=1
                [style.background]="tiles[i].color"
                >
                <button (click)="play(i, user.uid)" mat-button style="width: 20px; height: 20px;"></button>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
          <div fxFlex="20" style="padding-top:5%">
            <mat-card>
            <mat-card-header>
              <mat-card-title>WHITE</mat-card-title>
              <mat-card-subtitle>Your opponent</mat-card-subtitle>
              <mat-card-subtitle>Capture: {{players[1].scoreCapture}}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
          </div>
        <div fxLayout="row" fxLayoutAlign="center center" style="padding-top:2%">
            <button (click)="goBack()">Back</button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>


